@import "compass/reset/utilities";
@import "compass/css3/";
@import "compass/utilities/general/clearfix";

.sample {
  width: 100%;
  .photosExp {
    width: 50%;
    text-align: right;
    font-size: 10px;
    max-width: 1280px;
    margin: 5px auto 0 auto;
  }
}
#tiles {
  max-width: 1280px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.texts {
  width: 100%;
  .exp {
    width: 100%;
    max-width: 1280px;
    margin: 20px auto 0 auto;
    
    h3 {
      font-size: 30px;
    }
    
    pre {
      font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
      background-color: #ffffff;
      padding: 3px;
    }
  }
}
.featuresList {
  list-style-type: disc;
  margin-left: 30px;
}
.installProcess {
  margin: 0 10px 0 10px;
  li {
    margin: 20px auto 0 auto;
    
    pre {
      margin: 5px 0 5px 0;
    }
  }
}

.customize {
  p {
    margin: 0 10px 0 10px;
    line-height: 1.2em;
  }
  pre {
    margin: 0 10px 0 10px;
  }
}

.license {
  p {
    margin: 0 10px 0 10px;
    line-height: 1.2em;
  }
}
