<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<title>tilamic.js Download</title>
		<link rel="shortcut icon" href="img/tilamicjs_fav.ico" />
		<link href="stylesheets/common.css" media="all" rel="stylesheet" type="text/css" />
		<link href="stylesheets/download.css" media="all" rel="stylesheet" type="text/css" />
{% include 'common/googleAnalytics.html' ignore missing %}
	</head>
	<body>
{% include 'common/header.html' %}
		<div class="content">
			<h1>Downloading tilamic.js</h1>
			<p class="headExp">
				Compressed and uncompressed copies are available.
			</p>
			<div class="verSet">
				<h2>Latest</h2>
				<h3 class="verInfo">ver. 1.0.0</h3>
				<p class="download">
					<a href="code/tilamic.js">Download the uncompressed tilamic.js</a>
				</p>
				<p class="download">
					<a href="code/tilamic.min.js">Download the compressed tilamic.min.js</a>
				</p>
			</div>
		</div>
{% include 'common/footer.html' %}
	</body>
</html>